body {
  font-family: arial, sans-serif;
  background: #fafafa;
}

h1 {
  color: #2b4353;
  font-size: 38px;
  font-weight: 145;
  line-height: 30px;
  margin: 0;
  text-shadow: 2px 2px 5px gray;
}

h2 {
  color: #2b4353;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color:#2b4353;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width:750px;
  margin: 30px auto;
}

.weather-app {
  padding: 42px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: #b6e1e0;
}

.btn-primary {
  color:#7c7c7c;
  border-color: #7c7c7c;
  background-color: #7c7c7c;
} 

.btn-primary {
  color: #fff;
  background-color: #2b4353;
  border-color: #2b4353;
  transition: #7c7c7c;
}

.btn-primary:hover {
  background-color: #7c7c7c;
  border-color: #7c7c7c
}

.overview {
  margin-bottom: 18px
}

.city {
  text-align: left;
}

.weather-img {
  height: 70px;
  width: 70px;
  margin-right: 10px;
}

.weather-temperature {
  color: #2b4353;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #2b4353;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #2b4353;
}

.weather-forecast-date {
  color: #2b4353;
  font-size: 18px;
}

.weather-forecast-temperature-min {
  color: #2b4353;
  opacity: 0.5;
}

.weather-forecast-temperatures {
  color: #2b4353;
  font-size: 16px;
  font-weight: 500;
}
